<div class="message-container <%= 'me' if message.user == current_user %>">
  <div class="message">
    <div class="content-container">
      <div class="content" style="padding: 10px; border-radius: 15px; <%= 'background-color: #007bff; color: white;' if message.user == current_user %> <%= 'background-color: #e9e9e9;' unless message.user == current_user %>">
        <%= message.content %>
      </div>
      <div class="author" style="color: #666; font-size: 12px;">
        <span class='activity-status user-<%= message.user.id %>-status' style="display: inline-block; margin-right: 5px;">
          <i class="fas fa-circle status-icon" style="font-size: 8px; color: #36a336;"></i> <!-- Using Font Awesome for icons -->
        </span>
  
        <%= message.user.username %>
      </div>
    </div>
  </div>
</div>